<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <button
      type="button"
      class="btn btn-primary"
      id="add-event-button"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Add Event
    </button>

    <!-- <Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div id="event-boxes">
              <form class="form new-event-form">
                <div class="form-group">
                  <label for="event-name">Event name:</label>
                  <input
                    class="form-input"
                    type="text"
                    id="event-name"
                    name="event-name"
                  />
                </div>

                <div class="form-group">
                  <label for="start-time">Start:</label>
                  <input
                    class="form-input"
                    type="number"
                    id="start-time"
                    name="start-time"
                  />
                </div>

                <div class="form-group">
                  <label for="end-time">End:</label>
                  <input
                    class="form-input"
                    type="number"
                    id="end-time"
                    name="end-time"
                  />
                </div>

                <div class="form-group">
                  <label for="event-desc">Description:</label>
                  <textarea
                    class="form-input"
                    id="event-desc"
                    name="event-desc"
                  ></textarea>
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">X it!</button>
                </div>
              </form>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div></div>

<div>
  {{#if events.length}}
    {{#each events as |event|}}
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title"><a
              href="/api/events/{{event.id}}"
            >{{event.name}}</a></h4>
          <p class="card-text">Event Details: {{event.description}}</p>
          <p class="card-text">Start Date:
            {{formatEventDate event.starting_date}}</p>
          <p class="card-text">End Date:
            {{formatEventDate event.ending_date}}</p>

          <div class="btn-group" role="group">
            <button
              class="btn btn-danger delete-button"
              data-id="{{event.id}}"
            >REMOVE</button>
            <button
              class="btn btn-warning edit-button"
              data-id="{{event.id}}"
            >EDIT</button>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}

</div>

<script
  src="
https://cdn.jsdelivr.net/npm/date-fns@2.30.0/index.min.js
"
></script>

<script src="./js/addEvent.js"></script>
<script src="./js/profile.js"></script>